<h1>New client_workout</h1>

<form action="/client_workouts/find" method="post">
	<input id="search_string" name="search_string", type="text" />
	<input name="commit" type="submit" value="busca" />
</form>

<%= render 'form' %>

<%= link_to 'Back', client_workouts_path %>
